.MainPage{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 4fr;
    gap: 10vh;
    padding: 10vh;
}

.Pagination{
    display: flex;
    gap: 2vh;
}

.PageNumber{
    font-size: larger;
    font-weight: 700;
    transition: ease 0.25s;
}

.PageNumber:hover{
    cursor: pointer;
    color: grey;
}

.Activenumber{
    color: grey;
}

.ContentBox{
    display: grid;
    gap: 5vh;
}

.Button{
    align-self: baseline;
}

@media (max-width:600px){
    .MainPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Button{
        align-self: center;
    }
}