.FilterBox form{
    display: flex;
    flex-direction: column;
    gap:3vh;
}


.InputLabel{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

@media (max-width:600px){
    .InputLabel{
        max-width: 20vh;
    }
    .InputLabel select{
        max-width: 20vh;
    }
}