.CreateCard{
    display: grid;
    gap: 5vh;
    justify-content: center;
    align-items: baseline;
    border: 4px solid orange;
    border-radius: 8px;
    padding: 10vh;
    grid-column: 2;
    background-color: white;
    margin: 1vh
}


.Createform{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.Createform input, select{
    max-width: 50vh;
}

.disabled{
    background-color: grey;
    cursor:wait;
}

.Createform button{
    align-self: baseline;
}

.ExtraButtons{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-self: baseline;
}

.Createform textarea{
    max-width: 100vh;
    min-height: 20vh;
}

