.EditCard{
    display: grid;
    gap: 5vh;
    justify-content: center;
    align-items: baseline;
    border: 4px solid orange;
    border-radius: 8px;
    padding: 10vh;
    grid-column: 2;
    background-color: white;
    margin: 1vh
    
}


.ReturnButton{
    justify-self: baseline;
}

.DeleteButton{
    background-color: red;
}

.DeleteButton .disabled{
    background-color: rgb(167, 19, 49);
}